.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  color: #fff;
  border: none;
  box-shadow: var(--shadow);
  padding: 0.2rem 0.7rem;
  border-radius: 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  &_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &_icon {
    padding: 0.8rem;
    font-size: 1.7rem;
  }
  &:active {
    top: 1px;
  }
}
