.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  color: #fff;
  border: 2px solid transparent;
  box-shadow: var(--shadow);
  padding: 0.2rem 0.7rem;
  border-radius: 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: auto;
  opacity: 1;
  transition:
    border 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  &_disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &_icon {
    padding: 0.8rem;
    font-size: 1.7rem;
  }
  &_selected {
    border: 2px solid var(--border);
  }
  &:active {
    top: 1px;
  }
  @media screen and (min-width: 768px) {
    padding: 0.5rem 1rem;
    &_icon {
      padding: 1rem;
      font-size: 2rem;
    }
  }
}
