:root {
  --font-family: "Tahoma", sans-serif;
  --background: #f8f9fa;
  --text-primary: #0f0f0f;
  --text-secondary: #4e4e4e;
  --accent: #ff3b00;
  --border: #1f1e1e;
  --shadow: 7px 15px 13px -4px #00000056;
  --filter-brightness: 1;
  --filter-invert: 0;
  --max-width: 1200px;
}

[data-theme="dark"] {
  --background: #343a40;
  --text-primary: #f2f2f2;
  --text-secondary: #a7a4a4;
  --border: #f2f2f2;
  --filter-brightness: 0;
  --filter-invert: 1;
}

// Reset CSS
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--background);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--accent);
    mix-blend-mode: difference;
    border-radius: 2px;
  }
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family);
  background-color: var(--background);
  color: var(--text-primary);
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
